<form #userForm="ngForm" (ngSubmit)="addDetails(userForm.value)">
    <input #name="ngModel" type="text" required placeholder="Enter Name" name="name" ngModel />
    <span *ngIf="name.invalid && name.touched">Name is required</span>
    <br><br>

    <input #password="ngModel" minlength="5" maxlength="20" required type="password" placeholder="Enter Password"
        name="password" ngModel />
    <span *ngIf="password.invalid && password.touched">Password is required</span>

    <br><br>

    <input #address="ngModel" minlength="5" maxlength="20" pattern="[a-zA-z0-9\s]+" required type="address"
        placeholder="Enter address" name="address" ngModel />
    <span *ngIf="address.invalid && address.touched">Address is required</span>

    <br><br>

    <select #gender="ngModel" required name="gender" ngModel>
        <option value="">Select Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>

    </select>
    <span *ngIf="gender.invalid && gender.touched">gender is required</span>

    <br><br>

    <input type="range" min="0" max="20" name="range" ngModel />
    <br>
    <br>

    <button [disabled]="userForm.invalid">Add user</button>



</form>